nav{
padding:0px;
background-color:red;
float:left;
height:500px;
width:100px;
}
header{
background-color:yellow;
height:100px;
float:left;
width:700px;
}
article{
background-color:blue;
float:left;
width:250px;
height:250px;
}
footer{
background-color:pink;
width:500px;
clear:both;
float:left;
height:50px;
}
#main{
height:500px;
width:800px;
float:left;
}
#mai{
height:400px;
width:500px;
float:left;
}
aside{
background-color:red;
float:left;
width:200px;
height:400px;
}
img{
float:left;
}
ul {
padding-left: 20px;}